* {
  box-sizing: border-box;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: white;
  user-select: none;
}

.wrapper {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  transform: scale(2);
  transform-origin: top left;
  --g: 8px;
  gap: var(--g);
  padding: var(--g);
}

.box {
  position: relative;
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.box:active {
  box-shadow: 0 0 0 2px #adadad;
}

.box::after {
  position: absolute;
  content: attr(data-size);
  color: #adadad;
  font-size: 0.4rem;
  bottom: 0;
  right: 0;
}

img {
  display: block;
  image-rendering: pixelated;
  pointer-events: none;
}

.window {
  position: absolute;
  box-shadow: 0 0 0 1px hotpink;
  width: 300px;
  height: 200px;
  /* pointer-events: none; */
}

.window-handle {
  background-color: hotpink;
  height: 20px;
  padding: 4px;
  text-transform: uppercase;
  font-size: 0.7rem;
  /* pointer-events: all; */
}

.artboard {
  position: relative;
  background-color: #fff;
  height: calc(100% - 20px);
}

.size-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 1px hotpink;
  bottom: 0;
  right: 0;
  /* pointer-events: all; */
}

.menu {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 0;
  background-color: transparent;
  background-color: #ffffffa0;
  backdrop-filter: blur(10px);
  padding: 8px;
  gap: 8px;

  transition: 0.5s;
}

.menu:popover-open {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.block {
  position: absolute;
  pointer-events: all;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  padding: 8px;
  gap: 8px;
}

button {
  border: 1px solid hotpink;
  background-color: transparent;
  color: hotpink;
  font-size: 0.7rem;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: hotpink;
  color: #fff;
}

.stamp {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.stamp:empty {
  display: none;
}
